:root {
    /* paddings */
    --padding-2: 2px;
    --padding-4: 4px;
    --padding-8: 8px;
    --padding-12: 12px;
    --padding-16: 16px;
    --padding-32: 32px;
    --padding-64: 64px;

    /* gaps */
    --gap-2: 2px;
    --gap-4: 4px;
    --gap-8: 8px;
    --gap-12: 12px;
    --gap-16: 16px;
    --gap-24: 24px;
    --gap-32: 32px;
    --gap-64: 64px;

    /* border-radius */
    --border-radius-2: 2px;
    --border-radius-4: 4px;
    --border-radius-8: 8px;
    --border-radius-16: 16px;
    --border-radius-32: 32px;
    --border-radius-64: 64px;
}
