.links {
    display: flex;
    flex-direction: column;
    gap: var(--gap-8);
}

.link {
    justify-content: flex-start;
    white-space: nowrap;
}

.icon {
    color: var(--color-light-icon-secondary);
}
