.link {
    text-decoration: none;    

    display: block;
    margin-top: var(--padding-12);
    margin-right: var(--padding-16);
    margin-bottom: var(--padding-12);
    margin-left: var(--padding-16);
}
