.container {
    display: flex;
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

.sidebar {
    flex-shrink: 0;
    padding-left: var(--gap-24);
    padding-right: var(--gap-24);

    background-color: var(--color-light-bg-secondary);    
    min-width: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: var(--gap-32);
    padding-bottom: var(--gap-32);
    border-bottom: 1px solid var(--color-light-border-primary);
}

.links {
    display: flex;
    flex-direction: column;
    gap: var(--gap-8);
    padding-top: var(--gap-32);
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    min-height: 0;
    padding: var(--gap-16) var(--gap-16) 0 var(--gap-16);
    background-color: var(--color-light-bg-primary);
    overflow: hidden;
}

.icon {
    cursor: pointer;

    &.dark {
        color: var(--color-light-icon-primary);
    }
}
