.container {
    background-color: var(--background-color);
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-grow: 1;
}

.content {
    border: 1px solid red;
    width: 100%;
}
