.container {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
}

.sidebar {
    background-color: var(--color-light-bg-secondary);    
    min-width: 150px;
    overflow: hidden;
}

.content {
    width: 100%;
    padding-top: var(--gap-16);
    background-color: var(--color-light-bg-primary);
    overflow-x: auto;
}
