.table {
    display: block;
    white-space: nowrap;
}

.head {
    text-align: center;
    padding: var(--padding-8);
}

.cell {
    padding: var(--padding-8);
    text-align: right;
}
